<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
         <% locals.blogs.forEach(blog => { %>
          <div class="col d-flex">
              <div class="card shadow p-3 h-100 w-100">
                  <img src="<%- blog.coverImageURL %>" height="200px" class="card-img-top" alt="...">
                  <div class="card-body d-flex flex-column">
                      <h5 class="card-title"><%- blog.title%></h5>
                      <div class="mt-auto">
                          <a href="/blog/<%- blog._id %>" class="btn btn-primary">Visit</a>
                      </div>
                  </div>
              </div>
          </div>
         <% }) %>
      </div>
  </div>  
    <%- include('./partials/scripts') %>
</body>
</html>